.main-container {
  text-align: center;
}

.img-container {
  text-align: center;
}

img {
  height: 200px;
}

/* ---------------------------------------------------------------------

   


  Medium Display


  

  ---------------------------------------------------------------------  */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* ---------------------------------------------------------------------

   


  Large Display


  

  ---------------------------------------------------------------------  */

@media only screen and (min-width: 992px) {}